.p-inputtext {
    width: 100%;
    padding: 0 20px !important;
    display: flex;
    align-items: center;
}

.p-password-input {
    border-radius: 10px;
}

.p-password-meter,
.p-password-info {
    display: none;
}

.p-float-label>label {
    background: white;
    padding: 0 5px;
}

.p-inputtext:enabled:focus {
    outline: none !important;
}

.p-inputtext::placeholder {
    opacity: 0;
}

.p-checkbox .p-checkbox-box {
    box-shadow: none !important;
}

.p-checkbox.p-highlight .p-checkbox-box,
.p-checkbox-box {
    background-color: transparent;
}

.p-checkbox-box>svg>path {
    fill: #333 !important;
}

@supports (not (-ms-ime-align:auto)) {
    .p-float-label>label {
        transform: translate(0.25rem, 0rem);
    }

    .p-float-label .p-inputtext:focus+label,
    .p-inputtext:not(:placeholder-shown)+label {
        transform: translate(0, .9rem);
    }
}

.p-dialog-header {
    justify-content: end;
}

@media (max-width: 768px) {
    .p-dialog .p-dialog-content {
        padding: 0 30px;
        padding-bottom: 30px;
    }
}

.p-inputgroup .p-inputtext::placeholder,
.p-inputgroup .p-placeholder {
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
    color: #8C9091;
}

.p-inputgroup-addon {
    justify-content: start;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    padding: 30px 0 18px 30px;
    border-bottom: 1px solid #163C661A;
    font-size: 16px;
    font-weight: 700;
}

.p-dropdown-items-wrapper{
    max-height: 351px !important;
    box-shadow: 0px 15px 20px 0px #0000002E;
}
.p-dropdown-items{
    max-height: 351px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    color: white !important;
    background-color: rgb(172, 172, 172) !important;
}

@media (max-width: 640px) {
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        padding: 20px 0 12px 20px;
        font-size: 12px;
        font-weight: 400;
    }

    .p-inputgroup {
        background-color: white;
        flex-direction: column;
        padding: 0 24px;

    }

    .p-inputgroup .p-dropdown,
    .p-inputtext {
        width: 100%;
        box-shadow: none;
    }

    .p-inputgroup-addon {
        width: 100%;
        max-width: 100%;
        padding: 17px 0 10px 0;
        border-bottom: 1px solid #163C661A;
        border-right: none;
        border-radius: none;
    }

    .p-inputgroup .p-inputtext {
        padding: 10px 0 17px 0 !important;
    }

    .p-inputgroup .p-inputtext::placeholder,
    .p-inputgroup .p-dropdown-label,
    .p-inputgroup .p-inputtext {
        font-size: 12px;
        font-weight: 400;
    }

    .p-inputgroup .p-dropdown .p-dropdown-trigger{
        justify-content: end;
    }
}